.main-menu{
    overflow: hidden;
    display: flex;
}

.leftTabButton{
    border-right-color: #000000;
    border-right: 1px;
    border-left: 0px;
    float: left;
}

.rightTabButton{
    border-left-color: #000000;
    border-left: 1px;
    border-right: 0px;
    float: right;
}

.tabButton{
    font-size: 36px;
    font-weight: 800;
    border-bottom-color: #000000;
    border-bottom: 2px;
    border-top: 0px;
    border-style: solid;
    overflow: hidden;
    cursor: default;
    width: 50%;
}

.selectedTabButton.rightTabButton{
    background: linear-gradient(to right, #BBBBBB, white);
}

.selectedTabButton.leftTabButton{
    background: linear-gradient(to left, #BBBBBB, white);
}

.bioElement{
    text-align: left;
    font-size: 26px;
}

.projectsElement{
    text-align: center;
    font-size: 22px;
}

#profilePic{
    float: left;
    width: 35%;
    padding-right: 20px;
    padding-bottom: 20px;
}